<div class="container-full">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
        <div class="col-md-6">
            <div class="input-fields">
                <div class="row input-row">
                    <div class="col-md-6 form-group">
                        <input type="text" formControlName="PatientName"
                            [ngClass]="{ 'is-invalid': submitted && f['PatientName'].errors }" class="form-control"
                            placeholder="Patient Name">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number" formControlName="age"
                            [ngClass]="{ 'is-invalid': submitted && f['age'].errors }" class="form-control"
                            placeholder="Age">
                    </div>
                </div>
                <div class="row input-row">
                    <div class="col-md-6 form-group">
                        <input type="text" formControlName="phyName"
                            [ngClass]="{ 'is-invalid': submitted && f['phyName'].errors }" class="form-control"
                            placeholder="Physician Name">
                    </div>
                    <div class="col-md-6">
                        <div class="row input-row">
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Female</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"> Male</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2"> Others</label>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row input-row">
                    <div class="col-md-6">
                        <ng-multiselect-dropdown class="multi-drop" [placeholder]="'Prescribed Tests'" [settings]="dropdownSettings"
                            [ngClass]='setClass()' [data]="dropdownList" [(ngModel)]="selectedItems"
                            (onSelect)="onItemSelect($event)" formControlName="testsList" [required]='requiredField'
                            (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 form-group">
                        <button type="submit" class="add-button">Add</button>
                        <button class="reset-button" (click)="onReset()">Reset</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-striped tab table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="th-col">Patient Name</th>
                            <th scope="col" class="th-col">Physician Name</th>
                            <th scope="col" class="th-col">Prescribed Tests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row" *ngFor="let data of consData">
                            <td>{{data.patientName}}</td>
                            <td>{{data.physName}}</td>
                            <td>{{data.prescTest}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="col-md-6 pie-chart">
            <span>Test Share</span>
            <div id="chartdiv"></div>
        </div>
    </form>
</div>